.nt-mainbox{
    height: 5vh;
    width: 40vw;
    background-color:white;
    display: flex;
    flex-direction: row;
    gap: 20vw;
    border-radius: 5px;
    margin-left:10vw;
    margin-top: 5vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    

}
.nt-mainbox-iconbar{
        display: flex;
        flex-direction: row;
        gap: 1vw;
        align-items: center;
}
.nt-text{
    align-self: center;
}
.lower-icon-main{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    
}
.expanding-textarea {
    width: 30vw;
    padding: 10px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    min-height: 50px; 
    overflow-y: hidden; 
    resize: none;
    transition: height 0.2s; 
  }
  .text-open-upper{
    display: flex;
    flex-direction: row;
    gap:25vw

  }
  .text-open-lower{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;

  }
  .text-open-main{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
  }
.note-grid-main{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: fit-content;
    height: fit-content;
    gap: 1vw;
}
.note-card-main{
    width: fit-content;
    height: fit-content;
    min-height: 20vh;
    min-width: 10vw;
    border-radius: 5px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.note-card-title{
  height: 2vh;
  width: auto;
}
.note-card-content{
  width: fit-content;
  height: fit-content;
}